<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-28.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-28-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(8 Reviews)</p>
                </div>
                <h3>Leather Chair</h3>
                <div class="product-price"><del>$90</del>$45</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    30 <small>% <span>Off</span></small>
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-29.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-29-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(7 Reviews)</p>
                </div>
                <h3>Comfy Chair</h3>
                <div class="product-price"><del>$70</del>$40</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-red">
                <div class="product-card-badge-inner">
                    Sold
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-30.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-30-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(7 Reviews)</p>
                </div>
                <h3>Computer Chair </h3>
                <div class="product-price"><del>$60</del>$35</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    New
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-31.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-31-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(10 Reviews)</p>
                </div>
                <h3>Wingback Chair </h3>
                <div class="product-price"><del>$50</del>$24</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    New
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-32.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-32-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(12 Reviews)</p>
                </div>
                <h3>Luxury Chair </h3>
                <div class="product-price"><del>$60</del>$30</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    35 <small>% <span>Off</span></small>
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-33.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-33-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStarHalfAlt"></fa-icon></li>
                    </ul>
                    <p>(4 Reviews)</p>
                </div>
                <h3>Wooden Chair </h3>
                <div class="product-price"><del>$45</del>$25</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    New
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-34.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-34-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(8 Reviews)</p>
                </div>
                <h3>Vintage Chair </h3>
                <div class="product-price"><del>$55</del>$30</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-red">
                <div class="product-card-badge-inner">
                    Sold
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 pb-30">
        <div class="trending-product-card">
            <div class="product-card-thumb">
                <a routerLink="/singleProduct">
                    <img src="assets/images/product-35.png" alt="product" class="product-main-thumb">
                    <img src="assets/images/product-35-zoom.png" alt="product" class="product-hover-thumb">
                </a>
            </div>
            <div class="product-card-content">
                <div class="review-star">
                    <ul>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                        <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                    </ul>
                    <p>(7 Reviews)</p>
                </div>
                <h3>Slime Chair </h3>
                <div class="product-price"><del>$35</del>$25</div>
                <div class="product-add-cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
            <div class="product-card-badge product-badge-success">
                <div class="product-card-badge-inner">
                    10 <small>% <span>Off</span></small>
                </div>
            </div>
            <div class="product-card-button">
                <ul>
                    <li>
                        <div class="wishlist-redirect" >
                            <a href="#">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </a>
                            <p class="product-tooltip">Add to Wishlist</p>
                        </div>
                    </li>
                    <li>
                        <div class="compare-redirect" >
                            <a href="compare.html">
                                <fa-icon [icon]="faChartLine"></fa-icon>
                            </a>
                            <p class="product-tooltip">Compare</p>
                        </div>
                    </li>
                    <li>
                        <div class="quickview-redirect inline-popup-1">
                            <a (click)="showQuickView()">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <p class="product-tooltip">Quick View</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- quick view product -->
<!-- product-popup -->
<div class="popup-area" [class.active] = "activeClass">
    <div class="white-popup">
        <div class="quick-view-close" (click) = "closeQuickView()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </div>
        <div class="product-popup-inner">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="product-popup-image">
                        <img src="assets/images/product-28.png" alt="product">
                        <div class="product-card-badge product-badge-success">
                            <div class="product-card-badge-inner">
                                30 <small>% <span>Off</span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="product-popup-content product-details-content">
                        <div class="availability-badge availability-badge-success product-details-item">In Stock</div>
                        <h3 class="product-details-item">Leather Chair</h3>
                        <div class="review-star product-details-item">
                            <ul>
                                <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                                <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                                <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                                <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                                <li class="full-star"><fa-icon [icon]="faStar"></fa-icon></li>
                            </ul>
                            <p>(8 Reviews)</p>
                        </div>
                        <div class="product-price product-details-item"><del>$90</del>$45</div>
                        <div class="product-color product-details-item">
                            <div class="sidebar-title">
                                <h3>Colors</h3>
                            </div>
                            <ul class="product-color-list">
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="black" name="productColor">
                                        <label for="black" class="custom-color-label custom-color-black"></label>
                                        <p class="custom-radio-tooltip">Black</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="green" name="productColor">
                                        <label for="green" class="custom-color-label custom-color-green"></label>
                                        <p class="custom-radio-tooltip">Green</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="blue" name="productColor">
                                        <label for="blue" class="custom-color-label custom-color-blue"></label>
                                        <p class="custom-radio-tooltip">Blue</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="blue-light" name="productColor">
                                        <label for="blue-light" class="custom-color-label custom-color-blue-light"></label>
                                        <p class="custom-radio-tooltip">Light Blue</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="violet" name="productColor">
                                        <label for="violet" class="custom-color-label custom-color-violet"></label>
                                        <p class="custom-radio-tooltip">Violet</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="orange" name="productColor">
                                        <label for="orange" class="custom-color-label custom-color-orange"></label>
                                        <p class="custom-radio-tooltip">Orange</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="purple" name="productColor">
                                        <label for="purple" class="custom-color-label custom-color-purple"></label>
                                        <p class="custom-radio-tooltip">Purple</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-color-radio">
                                        <input type="radio" id="brown" name="productColor">
                                        <label for="brown" class="custom-color-label custom-color-brown"></label>
                                        <p class="custom-radio-tooltip">Brown</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="product-quantity product-details-item">
                            <div class="sidebar-title">
                                <h3>Quantity</h3>
                            </div>
                            <div class="product-quantity-action">
                                <div class="cart-quantity product-quantity-action-item">
                                    <button class="qu-btn dec">-</button>
                                    <input type="text" class="qu-input" value="1">
                                    <button class="qu-btn inc">+</button>
                                </div>
                                <ul class="product-action-button product-quantity-action-item">
                                    <li>
                                        <button class="btn btn-black">
                                            Add To Cart
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="mt-15 product-details-item"><a routerLink="/singleProduct">View Full Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .end product-popup -->