<!-- footer -->
<footer class="bg-black">
    <div class="footer-upper pt-100 pb-80">
        <div class="container">
            <div class="footer-logo">
                <a routerLink="/"><img src="assets/images/logo-white.png" alt="logo"></a>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="footer-copyright-text">
                <p class="text-white">Copyright ©2021 Design &amp; Developed By <a href="#" target="_blank">Angular</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- .end footer -->