<header class="bg-header">
    <div class="container-fluid">
        <div class="header-max-width">
            <div class="header-content-title">
                <small>New Collection</small>
                <h1>New Arrival Furniture</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a routerLink="/products" class="btn btn-red">Shop Now</a>
            </div>
        </div>
    </div>
</header>
<!-- new-arrival-section -->
<section class="new-arrival-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>Entire Collection</small>
            <h2>Product Collection</h2>
        </div>
        <div class="product-filter-tab-details">
            <app-products></app-products>
        </div>
    </div>
</section>
<!-- .end new-arrival-section -->

